
# Edit islemi gerceklestirilir.
 
 

 
 <img src="/assets/tobb.png" width="50" height="50" alt="Edit Entry" /> <h1>Todo List</h1>

<h1>Güncellenecek Post</h1>



<%= render 'form', post: @post %>
<%= link_to 'Göster', @post %> |
<%= link_to 'Geri', posts_path %>
