<p id="notice"><%= notice %></p>


 <img src="/assets/tobb.png" width="80" height="80" alt="Edit Entry" /> <h1>Todo List</h1>


 
 <table>
  <thead>
    <tr>
      <th>Yapılacak işler</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
  
  
  
  
  <tbody> 
    <% @posts.each do |post| %>
  
    <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Göster', post %></td>
        <td><%= link_to 'Güncelle', edit_post_path(post) %></td> 
        <td><%= link_to 'Sil', post, method: :delete, data: { confirm: 'Emin misiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<%= link_to 'Yeni görev ekle', new_post_path %>








   <h1>                            </h1><img src="/assets/grup.png" width="400" height="400" alt="grup Entry" /> 







