
 <img src="/assets/tobb.png" width="50" height="50" alt="Edit Entry" /> <h1>Todo List</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>




<%= link_to 'Güncelle', edit_post_path(@post) %> |
<%= link_to 'Geri', posts_path %>
